<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}thanksPearl{% endblock %}</title>

        <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}styles/thanksPearl.css" />
        {% block head %}

        {% endblock %}
    </head>

    <body>
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <a href="#" class="brand">thanksPearl</a>
            </div>
        </div>

        <div class="row-fluid">
        {% block content %}

        {% endblock %}
        </div>

    </body>

    <script type="text/javascript">
        {% block script %}

        {% endblock %}
    </script>

    {% block templates %}

    {% endblock %}
</html>
