{% extends 'base.html' %}
{% load helpers %}
{% load event_tags %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/libs/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/libs/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/libs/backbone-min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}scripts/calendar/models/event.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/calendar/collections/events.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/calendar/views/events.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/calendar/views/day.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/calendar/views/calendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/calendar/calendar.js/"></script>

{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <ul id="calendar">

            </ul>
        </div>
    </div>

    <div id="calendar" class="row-fluid">

        <div id="event-edit" class="span4"></div>

        <div id="calendar-day-container" class="span8">
            <table id="calendar-day" class="table">
            {% for i in 24|times %}
                <tr>
                    <td rowspan="2" class="span2">{{ i|hour }}</td>
                    <td id="calendar-day-hour-{{ i }}" class="span10">&nbsp;</td>
                </tr>
                <tr>
                    <td id="calendar-day-hour-{{ i }}.5">&nbsp;</td>
                </tr>
            {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}


{% block templates %}
    <script type="text/template" id="event-template">
        <div class="event">
            <a class="event-edit"><%= title %></a> <a class="event-delete">delete</a>
        </div>
    </script>

    <script type="text/template" id="event-edit-template">
            <form>
                <label for="edit-title">Title</label>
                <input id="edit-title" name="edit-title" type="text" value="<%= title %>" autofocus placeholder="Title" />

                <label for="edit-description">Description</label>
                <input id="edit-description" name="edit-description" type="text" value="<%= description %>" />

                <div id="edit-time">
                    <label for="edit-start_time">Start Time</label>
                    <input id="edit-start_time" name="edit-start_time" type="time" value="<%= startPartialTime %>" />

                    <label for="edit-end_time">End Time</label>
                    <input id="edit-end_time" name="edit-end_time" type="time" value="<%= endPartialTime %>" />
                </div>

                <a id="edit-save">Save</a>
            </form>
    </script>

{% endblock %}

{% block script %}
    /* Bootstrap the Collection */
    /*calendar.Events.reset([
        {
            'title': 'test title',
            'start_time': 'start',
            'end_time': 'end'
        },
        {
            'title': 'test title 2',
            'start_time': 'start',
            'end_time': 'end'
        }
    ]);*/
{% endblock %}
