{% extends 'base.html' %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {{ eventform.management_form }}
        {% for form in eventform %}
            <p>{{ form.label }}: {{ form }}</p>
        {% endfor %}

        <input type="submit" value="Create" />
    </form>
{% endblock %}
